<div class="container mt-5">
  <div class="content-page">
    <div class="content">
      <div class="mt-5">
        <h1>Detail Pegawai</h1>
      </div>
      <div
        class="card shadow mt-3 p-3 mb-5 bg-body rounded"
        style="width: 50rem"
      >
        <img
          src="/uploads/<%= pegawai.photo %>"
          class="card-img-top w-25 rounded mb-2"
        />
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="bi bi-person-fill"></i> Nomor Induk Pegawai :
            <b><%= pegawai.nip %></b>
          </li>
          <li class="list-group-item">
            <i class="bi bi-person-fill"></i> Nama : <b><%= pegawai.name %></b>
          </li>
          <li class="list-group-item">
            <i class="bi bi-envelope-fill"></i> Alamat :
            <b><%= pegawai.alamat %></b>
          </li>
          <li class="list-group-item">
            <i class="bi bi-phone-fill"></i> Jenis Kelamin :
            <b><%= pegawai.jenis_kelamin %></b>
          </li>
          <li class="list-group-item">
            <i class="bi bi-phone-fill"></i> status :
            <b
              ><span
                class="<%= pegawai.status === 'aktif' ? 'badge bg-success' : 'badge bg-danger' %>"
                ><%= pegawai.status %></span
              ></b
            >
          </li>
          <li class="list-group-item">
            <i class="bi bi-phone-fill"></i> Jenis Kelamin :
            <b><%= pegawai.nama_jabatan %></b>
          </li>

          <li class="list-group-item">
            <i class="bi bi-phone-fill"></i> Role :
            <b><%= pegawai.nama_role %></b>
          </li>
          <!-- <li class="list-group-item">
        <i class="bi bi-phone-fill"></i> password :
        <b><%# pegawai.password %></b>
      </li> -->

          <li class="list-group-item">
            <a href="/update/<%=pegawai.id_pegawai %>" class="btn btn-warning">
              <i class="bi bi-pencil-square"></i> Update
            </a>
            <a
              href="/delete/<%=pegawai.id_pegawai %>"
              onclick="return confirm('yakin ingin di delete?')"
              class="btn btn-danger"
            >
              <i class="bi bi-trash-fill"></i>
              Delete
            </a>
            <a
              href="/nonaktif/<%=pegawai.id_pegawai %>"
              onclick="return confirm('yakin ingin di tidak aktifkan?')"
              class="btn btn-info"
            >
              <i class="bi bi-person-x-fill"></i>
              Non Aktif
            </a>

            <a href="/pegawai" class="btn btn-dark"
              ><i class="bi bi-arrow-left-circle-fill"></i> Kembali</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
