<div class="container mt-5">
  <div class="content-page">
    <div class="content">
      <br />
      <% if(msg.length !== 0) { %>
      <div class="alert alert-success" role="alert">
        <b><%= msg %></b>
      </div>
      <% } %>
      <div class="mt-5">
        <h1>Data Pegawai</h1>
      </div>
      <a href="/pegawai/add" class="btn btn-primary mt-3"
        ><i class="bi bi-person-plus-fill"></i> Tambah Data Pegawai
      </a>
      <div class="card shadow-sm mt-2 p-3 mb-5 bg-body rounded mt-2">
        <div class="card-body">
          <table class="table">
            <thead class="bg-pink text-white">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nomor Induk Pegawai</th>
                <th scope="col">Nama pegawai</th>
                <th scope="col">Alamat</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <% if (pegawai < 1) {%>
              <tr>
                <td colspan="4" class="text-center">data kosong</td>
              </tr>
              <% } else {%> <% for (let index=0; index < pegawai.length;
              index++) { %>
              <tr>
                <td scope="row"><%= index+1 %></td>
                <td><%=pegawai[index].nip %></td>
                <td><%=pegawai[index].name %></td>
                <td><%=pegawai[index].alamat %></td>
                <td><%=pegawai[index].nama_role %></td>
                <td>
                  <span
                    class="<%=pegawai[index].status === 'aktif' ? 'badge bg-success':'badge bg-danger'%>"
                  >
                    <%= pegawai[index].status%>
                  </span>
                </td>
                <td>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <span>
                      <a
                        href="/pegawai/detail/<%=pegawai[index].id_pegawai %>"
                        class="btn btn-success m-1"
                      >
                        Detail
                      </a>
                    </span>
                    <span>
                      <a
                        href="/update/<%=pegawai[index].id_pegawai %>"
                        class="btn btn-warning m-1"
                      >
                        Update
                      </a>
                    </span>
                    <span>
                      <a
                        href="/delete/<%=pegawai[index].id_pegawai %>"
                        onclick="return confirm('yakin?')"
                        class="btn btn-danger m-1"
                      >
                        Delete
                      </a>
                    </span>
                    <span>
                      <a
                        href="/nonaktif/<%=pegawai[index].id_pegawai %>"
                        onclick="return confirm('yakin ingin di tidak aktifkan?')"
                        class="btn btn-info m-1"
                      >
                        Non Aktif
                      </a>
                    </span>
                  </div>
                </td>
              </tr>
              <% } %> <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
